.git
.gitignore
.env
*.sql
*.7z
*.log
node_modules
vendor
template_to_use
database/database.sqlite
.idea
.vscode
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore
