<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On
    
    RewriteCond %{HTTPS} off
    
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    RewriteCond %{REQUEST_FILENAME} -d [OR]
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ ^$1 [N]

    RewriteCond %{REQUEST_URI} (\.\w+$) [NC]
    RewriteRule ^(.*)$ public/$1 

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ server.php

</IfModule>

RewriteCond %{HTTP_REFERER} !^http://absen.bprbangli.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://absen.bprbangli.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bankdaerahbangli.bprbangli.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bankdaerahbangli.bprbangli.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bpd.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bpd.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bprbangli.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bprbangli.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cbs.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cbs.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mbl.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mbl.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mobile.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mobile.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://nas.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://nas.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://nas.bprbangli.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://nas.bprbangli.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://onus.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://onus.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pegawai.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pegawai.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pungutan.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pungutan.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://send.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://send.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://surat.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://surat.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.absen.bprbangli.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.absen.bprbangli.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bankdaerahbangli.bprbangli.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bankdaerahbangli.bprbangli.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bpd.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bpd.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bprbangli.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bprbangli.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cbs.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cbs.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mbl.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mbl.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mobile.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mobile.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.nas.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.nas.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.nas.bprbangli.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.nas.bprbangli.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.onus.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.onus.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pegawai.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pegawai.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.send.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.send.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.surat.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.surat.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.y2k.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.y2k.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.y2k.bprbangli.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.y2k.bprbangli.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://y2k.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://y2k.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://y2k.bprbangli.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://y2k.bprbangli.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://absen.bprbangli.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://absen.bprbangli.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://bankdaerahbangli.bprbangli.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://bankdaerahbangli.bprbangli.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://bpd.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://bpd.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://bprbangli.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://bprbangli.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cbs.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cbs.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mbl.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mbl.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mobile.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mobile.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://nas.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://nas.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://nas.bprbangli.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://nas.bprbangli.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://onus.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://onus.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://pegawai.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://pegawai.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://pungutan.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://pungutan.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://send.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://send.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://surat.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://surat.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.absen.bprbangli.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.absen.bprbangli.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.bankdaerahbangli.bprbangli.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.bankdaerahbangli.bprbangli.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.bpd.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.bpd.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.bprbangli.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.bprbangli.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cbs.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cbs.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mbl.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mbl.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mobile.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mobile.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.nas.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.nas.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.nas.bprbangli.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.nas.bprbangli.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.onus.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.onus.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pegawai.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pegawai.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pungutan.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pungutan.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.send.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.send.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.surat.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.surat.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.y2k.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.y2k.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.y2k.bprbangli.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.y2k.bprbangli.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://y2k.bankdaerahbangli.co.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://y2k.bankdaerahbangli.co.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://y2k.bprbangli.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://y2k.bprbangli.com$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

